<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.AbnormalCausesMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="abnormalCausesResultMap" type="org.example.entity.AbnormalCauses">
        <id column="abnormal_causes_id" property="abnormalCausesId"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
        <result column="deleted" property="deleted"/>
        <result column="consequence_node" property="consequenceNode"/>
        <result column="deviate" property="deviate"/>
        <result column="Variable_name" property="variableName"/>
        <result column="deviation" property="deviation"/>
        <result column="evolutionary_path" property="evolutionaryPath"/>
        <result column="project_id" property="projectId"/>
        <result column="abnormal_causes" property="abnormalCauses"/>
    </resultMap>


</mapper>
