<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ConsequenceMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="consequenceResultMap" type="org.example.entity.Consequence">
        <id column="consequence_id" property="consequenceId"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
        <result column="deleted" property="deleted"/>
        <result column="consequence_name" property="consequenceName"/>
        <result column="variable_name_en" property="variableNameEn"/>
        <result column="variable_id" property="variableId"/>
        <result column="variable_name" property="variableName"/>
        <result column="straight" property="straight"/>
        <result column="burden" property="burden"/>
        <result column="project_id" property="projectId"/>
        <result column="unit_id" property="unitId"/>
        <result column="model_id" property="modelId"/>
    </resultMap>


</mapper>
