<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.FormulaMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="formulaResultMap" type="org.example.entity.Formula">
        <id column="formula_id" property="formulaId"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
        <result column="deleted" property="deleted"/>
        <result column="formula" property="formula"/>
        <result column="project_id" property="projectId"/>
        <result column="formula_to" property="formulaTo"/>
        <result column="formula_from" property="formulaFrom"/>
    </resultMap>


</mapper>
