<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.FrequencyMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="frequencyResultMap" type="org.example.entity.Frequency">
        <id column="frequency_id" property="frequencyId"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
        <result column="deleted" property="deleted"/>
        <result column="frequency_code" property="frequencyCode"/>
        <result column="frequency_name" property="frequencyName"/>
        <result column="frequency_desc" property="frequencyDesc"/>
        <result column="project_id" property="projectId"/>
        <result column="unit_id" property="unitId"/>
    </resultMap>


</mapper>
