<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.LopaMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="lopaResultMap" type="org.example.entity.Lopa">
        <id column="lopa_id" property="lopaId"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
        <result column="deleted" property="deleted"/>
        <result column="scene_desc" property="sceneDesc"/>
        <result column="event_vate" property="eventVate"/>
        <result column="conditon" property="conditon"/>
        <result column="event_ipl" property="eventIpl"/>
        <result column="lopa_type" property="lopaType"/>
        <result column="lopa_grade" property="lopaGrade"/>
        <result column="lopa_desc" property="lopaDesc"/>
        <result column="tolerate" property="tolerate"/>
        <result column="revise_condition" property="reviseCondition"/>
        <result column="revise_rate" property="reviseRate"/>
        <result column="protect_desc" property="protectDesc"/>
        <result column="protect" property="protect"/>
        <result column="conclusion" property="conclusion"/>
        <result column="project_id" property="projectId"/>
        <result column="unit_id" property="unitId"/>
    </resultMap>


</mapper>
