<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.LopaMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="lopaResultMap" type="org.example.entity.Lopa">
        <id column="lopa_id" property="lopaId"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
        <result column="deleted" property="deleted"/>
        <result column="scenario_desc" property="scenarioDesc"/>
        <result column="consequences_desc" property="consequencesDesc"/>
        <result column="event_ie" property="eventIe"/>
        <result column="ignition_probability" property="ignitionProbability"/>
        <result column="exposure_probability" property="exposureProbability"/>
        <result column="lethality_rate" property="lethalityRate"/>
        <result column="protection_desc" property="protectionDesc"/>
        <result column="protection_rate" property="protectionRate"/>
        <result column="accident_rate" property="accidentRate"/>
        <result column="allow_accident_rate" property="allowAccidentRate"/>
        <result column="SIL_grade" property="silGrade"/>
        <result column="project_id" property="projectId"/>

    </resultMap>


</mapper>
