<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.MatrixSummaryMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="matrixSummaryResultMap" type="org.example.entity.MatrixSummary">
        <id column="matrix_id" property="matrixId"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
        <result column="deleted" property="deleted"/>
        <result column="matrix_name" property="matrixName"/>
        <result column="matrix_desc" property="matrixDesc"/>
        <result column="horizontal" property="horizontal"/>
        <result column="longitudinal" property="longitudinal"/>
        <result column="project_id" property="projectId"/>
    </resultMap>


</mapper>
