<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.RiskGradeMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="riskGradeResultMap" type="org.example.entity.RiskGrade">
        <id column="risk_grade_id" property="riskGradeId"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
        <result column="deleted" property="deleted"/>
        <result column="risk_grade_code" property="riskGradeCode"/>
        <result column="risk_grade_color" property="riskGradeColor"/>
        <result column="risk_grade_desc" property="riskGradeDesc"/>
        <result column="risk_grade" property="riskGrade"/>
        <result column="risk_grade_measure" property="riskGradeMeasure"/>
        <result column="term" property="term"/>
        <result column="remark" property="remark"/>
        <result column="project_id" property="projectId"/>
        <result column="horizontal" property="horizontal"/>
        <result column="longitudinal" property="longitudinal"/>
        <result column="severity" property="severity"/>
        <result column="frequency_level" property="frequencyLevel"/>
    </resultMap>


</mapper>
