<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.SilMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="silResultMap" type="org.example.entity.Sil">
        <id column="sil_id" property="silId"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
        <result column="deleted" property="deleted"/>
        <result column="circuit" property="circuit"/>
        <result column="sil_type" property="silType"/>
        <result column="sil_name" property="silName"/>
        <result column="structure" property="structure"/>
        <result column="var1" property="var1"/>
        <result column="va2" property="va2"/>
        <result column="var3" property="var3"/>
        <result column="var4" property="var4"/>
        <result column="var5" property="var5"/>
        <result column="var6" property="var6"/>
        <result column="var7" property="var7"/>
        <result column="var8" property="var8"/>
        <result column="project_id" property="projectId"/>
        <result column="sil_grade" property="silGrade"/>
        <result column="system_PFD" property="systemPfd"/>
        <result column="unit_id" property="unitId"/>
    </resultMap>


</mapper>
